.filter__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  cursor: pointer;
}

.filter__item {
  align-items: center;
  display: flex;
  height: 40px;
  position: relative;

  :hover {
    background-color: #f1fcff;
  }

  .filter__input {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    margin-left: 20px;
  }

  .filter__name {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .filter__list {
    display: block;
    width: 100%;
  }
}
