* {
  box-sizing: inherit;
}
body {
  background-color: #f3f7fa;
  color: #1b1c21;
  font-family: Barlow, sans-serif;
  margin: 0;
  overflow-anchor: none;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
}
